:root {
    /* Colours */
    --primary-colour: #0f574b;
    --secondary-colour: #22BFB7;
    --card-colour: #2b2d31;
    --background-colour: #1e1f22;
    --border-colour: #3a3b3f;
    --text-colour: #eaebeb;
    /* Semantic Colours */
    --alert-error-text: #ff4d4d;
    --alert-error-bg: rgba(255, 77, 77, 0.1);
    --alert-error-border: #ff4d4d;
    --alert-success-text: #00ff88;
    --alert-success-bg: rgba(0, 255, 136, 0.1);
    --alert-success-border: #00ff88;
    --alert-info-text: #4da6ff;
    --alert-info-bg: rgba(77, 166, 255, 0.1);
    --alert-info-border: #4da6ff;
    --alert-warning-text: #ffcc00;
    --alert-warning-bg: rgba(255, 204, 0, 0.1);
    --alert-warning-border: #ffcc00;
    /* Fonts */
    --font-primary: 'Outfit', sans-serif;
    --font-xsmall: 0.875rem;
    --font-small: 1rem;
    --font-medium: 1.125rem;
    --font-large: 1.375rem;
    --font-xlarge: 1.75rem;
    /* Misc */
    --titlebar-height: 28px;
    --header-height: 64px;
    --footer-height: 52px;
    --page-padding: 20px 50px;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit.woff2') format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html, body {
    overflow: hidden;
    height: 100vh;
}

body {
    padding-top: var(--titlebar-height);
    background-color: var(--background-colour);
}

.page {
    padding: var(--page-padding);
    overflow-y: auto;
    height: calc(100vh - var(--titlebar-height) - 115px);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-colour);
}

a {
    color: var(--secondary-colour);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.4s ease;
}

    a:hover {
        text-decoration-color: currentColor;
    }

::-webkit-scrollbar {
    width: 40px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--primary-colour) 50%, transparent);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background: color-mix(in srgb, var(--primary-colour) 70%, transparent);
        background-clip: content-box;
    }

* {
    scrollbar-color: color-mix(in srgb, var(--primary-colour) 50%, transparent) transparent;
    scrollbar-width: auto;
}

    *:hover {
        scrollbar-color: color-mix(in srgb, var(--primary-colour) 70%, transparent) transparent;
    }