# Build folders
bin/
obj/
out/
dist/
build/
target/

# IDE and editor files
.vs/
.vscode/
*.sln.DotSettings
.idea/
*.iml

# Build outputs
*.exe
*.dll
*.pdb
*.nupkg

# NuGet
packages/
.nuget/
*.nupkg.metadata.json

# Local user-specific files
*.user
*.suo
.localhistory/

# Test results
TestResults/
*.trx

# ReSharper
.resharper*

# Node and frontend
node_modules/
.svelte-kit/
.env
.env.local
.env.*.local
.enc

# Rust/Cargo
Cargo.lock
target/

# Tauri
src-tauri/target/
src-tauri/.env

# Environment files
.env
.env.local
*.env.local
/client/src-tauri/gen/schemas/acl-manifests.json
/client/src-tauri/gen/schemas/desktop-schema.json
/client/src-tauri/gen/schemas/windows-schema.json
/server/data/db
*.enc
/server/backup/secrets.enc.backup
